<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supermarket.mapper.personMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
      <!-- 
        根据id查询得到一个user对象
     -->
     
     <select id="getPerson" parameterType="com.supermarket.mysql.person" 
        resultType="com.supermarket.mysql.person">
        select * from person where userName=#{userName} and password=#{password}
    </select>
    
    <!-- 创建用户(Create) -->
    <insert id="addPerson" parameterType="com.supermarket.mysql.person">
        insert into person(userName,password,nickName,userType) 
        values(#{userName},#{password},#{nickName},#{userType})
    </insert>
    
    <!-- 删除用户(Remove) -->
    <delete id="deletePerson" parameterType="int">
        delete from person where id=#{id}
    </delete>
    
    <!-- 修改用户(Update) -->
    <update id="updatePerson" parameterType="com.supermarket.mysql.person">
        update person set name=#{userName},age=#{password},age=#{nickName},age=#{userType} where id=#{id}
    </update>
    
    <!-- 查询全部用户-->
    <select id="getAllPersons" resultType="com.supermarket.mysql.person">
        select * from person
    </select>
    
</mapper>